{
    "apps": {
        "user_ldap": {
            "enabled": "yes",
            "s01_lastChange": "1610140047",
            "s01has_memberof_filter_support": "1",
            "s01home_folder_naming_rule": "",
            "s01last_jpegPhoto_lookup": "0",
            "s01ldap_attributes_for_group_search": "",
            "s01ldap_attributes_for_user_search": "",
            "s01ldap_backup_host": "",
            "s01ldap_backup_port": "",
            "s01ldap_base": "OU=Benutzer,DC=musterschule,DC=schule,DC=paedml",
            "s01ldap_base_groups": "DC=musterschule,DC=schule,DC=paedml",
            "s01ldap_base_users": "OU=Benutzer,DC=musterschule,DC=schule,DC=paedml",
            "s01ldap_cache_ttl": "600",
            "s01ldap_configuration_active": "1",
            "s01ldap_default_ppolicy_dn": "",
            "s01ldap_display_name": "displayname",
            "s01ldap_dn": "CN=ldapbinduser_extern,OU=_ServiceAccounts,DC=musterschule,DC=schule,DC=paedml",
            "s01ldap_dynamic_group_member_url": "",
            "s01ldap_email_attr": "mail",
            "s01ldap_experienced_admin": "0",
            "s01ldap_expert_username_attr": "",
            "s01ldap_expert_uuid_group_attr": "",
            "s01ldap_expert_uuid_user_attr": "",
            "s01ldap_ext_storage_home_attribute": "cn",
            "s01ldap_gid_number": "gidNumber",
            "s01ldap_group_display_name": "cn",
            "s01ldap_group_filter": "(&(|(objectclass=group))(|(cn=G_Lehrer)(cn=G_Schueler)))",
            "s01ldap_group_filter_mode": "0",
            "s01ldap_group_member_assoc_attribute": "member",
            "s01ldap_groupfilter_groups": "G_Lehrer\nG_Schueler",
            "s01ldap_groupfilter_objectclass": "group",
            "s01ldap_host": "ldaps:\/\/dc01.musterschule.schule.paedml",
            "s01ldap_login_filter": "(&(&(|(objectclass=person)))(samaccountname=%uid))",
            "s01ldap_login_filter_mode": "1",
            "s01ldap_loginfilter_attributes": "",
            "s01ldap_loginfilter_email": "0",
            "s01ldap_loginfilter_username": "1",
            "s01ldap_matching_rule_in_chain_state": "unknown",
            "s01ldap_nested_groups": "0",
            "s01ldap_override_main_server": "",
            "s01ldap_paging_size": "1000",
            "s01ldap_port": "636",
            "s01ldap_quota_attr": "",
            "s01ldap_quota_def": "0",
            "s01ldap_tls": "0",
            "s01ldap_turn_off_cert_check": "1",
            "s01ldap_turn_on_pwd_change": "0",
            "s01ldap_user_avatar_rule": "default",
            "s01ldap_user_display_name_2": "",
            "s01ldap_user_filter_mode": "0",
            "s01ldap_userfilter_groups": "",
            "s01ldap_userfilter_objectclass": "organizationalPerson",
            "s01ldap_userlist_filter": "(&(|(objectclass=organizationalPerson)))",
            "s01use_memberof_to_detect_membership": "1",
            "types": "authentication"
        }
    }
}

