{
    "apps": {
       "user_ldap": {
            "types": "authentication",
            "enabled": "yes",
            "s01ldap_configuration_active": "1",
            "s01ldap_port": "7389",
            "s01ldap_user_filter_mode": "1",
            "s01ldap_login_filter_mode": "1",
            "s01ldap_loginfilter_username": "1",
            "s01ldap_group_filter_mode": "1",
            "s01ldap_groupfilter_objectclass": "nextcloudGroup",
            "s01ldap_group_display_name": "cn",
            "s01ldap_tls": "1",
            "s01ldap_cache_ttl": "600",
            "s01home_folder_naming_rule": "",
            "s01ldap_expert_uuid_user_attr": "",
            "s01use_memberof_to_detect_membership": "0",
            "s01ldap_nested_groups": "0",
            "s01ldap_turn_on_pwd_change": "0",
            "s01ldap_experienced_admin": "1",
            "s01ldap_ext_storage_home_attribute": "uid",
            "s01ldap_gid_number": "gidNumber",
            "s01ldap_group_member_assoc_attribute": "memberUid",
            "s01ldap_host": "server.paedml-linux.lokal",
            "background_sync_prefix": "s01",
            "s01ldap_quota_attr": "",
            "background_sync_interval": "1800",
            "s01ldap_expert_username_attr": "uidNumber",
            "s01ldap_quota_def": "0",
            "s01ldap_dn": "uid=ldapsuche,cn=users,dc=paedml-linux,dc=lokal",
            "s01ldap_email_attr": "mailPrimaryAddress",
            "s01ldap_attributes_for_user_search": "uid\ngivenName\nsn",
            "background_sync_offset": "0",
            "s01ldap_base": "dc=paedml-linux,dc=lokal",
            "s01ldap_base_groups": "cn=groups,ou=schule,dc=paedml-linux,dc=lokal",
            "cleanUpJobOffset": "50",
            "s01ldap_base_users": "dc=paedml-linux,dc=lokal",
            "s01_lastChange": "1614009306",
            "s01ldap_group_filter": "(&(objectclass=univentionGroup)(!(gidNumber=5083))(!(gidNumber=5101)))",
            "s01ldap_login_filter": "(&(objectclass=person)(uid=%uid))",
            "s01ldap_userlist_filter": "(|(objectclass=ucsschoolTeacher)(objectclass=ucsschoolStudent)(uid=Administrator))",
            "s01ldap_display_name": "displayname",
            "s01ldap_loginfilter_email": "0",
            "s01ldap_attributes_for_group_search": "cn"
        }
    }
}

